@font-face {
  font-family: digital;
  src: url(./assets/fonts/ds-digital.ttf);
}
@font-face {
  font-family: neue;
  src: url(./assets/fonts/neue.ttf);
}
@font-face {
  font-family: ogg;
  src: url(./assets/fonts/ogg.ttf);
}
@font-face {
  font-family: scto;
  src: url(./assets/fonts/scto.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "neue", sans-serif;
  font-weight: 500;
}

#main {
  width: 100%;
  overflow-x: hidden;
}

#loader {
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 50px;
}

#loader h1 {
  font-size: 11rem;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
  white-space: nowrap;
  margin-left: -800px;
  z-index: 5;
}
#loader .center {
  width: 100%;
  height: 30vh;
}

#loader .center-top {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#loader .center-top .box,
#loader .center-bottom .box {
  min-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
}

#loader .center-top .box p,
#loader .center-bottom .box p {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 700;
  margin: 0 0 0 20px;
}

#loader .center-top .box:first-child,
#loader .center-bottom .box:first-child {
  background-color: #da8452;
}

#loader .center-top .box:nth-child(2),
#loader .center-bottom .box:nth-child(2) {
  background-color: #e8cbd4;
}

#loader .center-top .box:nth-child(3),
#loader .center-bottom .box:nth-child(3) {
  background-color: #97974a;
}

#loader .center-top .box:nth-child(4),
#loader .center-bottom .box:nth-child(4) {
  background-color: #e8b63a;
}
#loader .center-top .box:nth-child(5),
#loader .center-bottom .box:nth-child(5) {
  background-color: #bb3f26;
}
#loader .center-top .box:nth-child(6),
#loader .center-bottom .box:nth-child(6) {
  background-color: #114d92;
}
#loader .center-top .box:nth-child(7),
#loader .center-bottom .box:nth-child(7) {
  background-color: #f4d6df;
}

#loader .center-top .box:nth-child(8),
#loader .center-bottom .box:nth-child(8) {
  background-color: #97974a;
}

#loader .center-middle {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 20vw;
}

#loader .center-middle .box {
  min-width: 350px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

#loader .center-middle .box p:first-child {
  font-size: 1.8rem;
  color: #313131;
  font-weight: 700;
  margin: 0 0 0 20px;
}

#loader .center-middle .box p:last-child {
  font-size: 1rem;
  color: #313131;
  font-weight: 700;
  margin: 0 0 0 20px;
}

#loader .center-bottom {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* #loader .box {  
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

#loader .loader-img {
  width: 100%;
  height: 20vh;
  z-index: -1;
  object-fit: cover;
}

#loader img {
  position: absolute;
  bottom: -45vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 35%;
}

#loader .loader-full {
  width: 40vw;
  height: 40vw;
  background-color: #7e908b;
  border-radius: 50%;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 0%) scale(0);
  z-index: 1;
  overflow: hidden;
}

#main #home0 {
  overflow: hidden;
  width: 100%;
  height: 200vh;
  position: relative;
  background-color: #1A2980;
}

#main #home0 .title {
  border-bottom: 2px solid #ffffff;
}
#main #home0 .title h1 {
  font-size: 8rem;
  color: #ffffff;
  font-weight: 700;
  margin-top: 8rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  white-space: nowrap;
  z-index: 5;
  font-family: 'ogg', sans-serif;
}

#main #home0 .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#main #home0 .overlay .logo {
  color: #fff;
}

/* ------------------- SAME INTRO FOR HOME0 & HOME1 & HOME3 ---------------------- */

#main #home0 .intro,
#main #home02 .intro,
#main #home3 .intro {
  width: 100%;
  display: flex;
}

#main #home0 .intro .serial,
#main #home02 .intro .serial,
#main #home3 .intro .serial {
  width: 15%;
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-left: 3rem;
}

#main #home0 .intro .box,
#main #home02 .intro .box,
#main #home3 .intro .box {
  width: 15%;
  color: #fff;
  font-size: 1rem;
  margin-top: 3rem;
}

#main #home0 .intro .heading,
#main #home02 .intro .heading,
#main #home3 .intro .heading {
  width: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-left: 2rem;
  padding-right: 8rem;
}

#main #home0 .intro .heading span,
#main #home02 .intro .heading span,
#main #home3 .intro .heading span {
  font-size: 4rem;
  font-weight: 700;
}

#main #home0 .intro .circle-animation,
#main #home02 .intro .circle-animation,
#main #home3 .intro .circle-animation {
  width: 20%;
  height: 100%;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 3rem;
}

#main #home0 .intro .circle-animation .intro-circle1,
#main #home02 .intro .circle-animation .intro-circle1,
#main #home3 .intro .circle-animation .intro-circle1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  animation: circle1 alternate 2s infinite;
}
@keyframes circle1 {
  0% {
    margin-left: 50px;
  }
  50% {
    margin: 0;
  }
  100% {
    margin-right: 50px;
  }
}

#main #home0 .intro .circle-animation .intro-circle2,
#main #home02 .intro .circle-animation .intro-circle2,
#main #home3 .intro .circle-animation .intro-circle2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  /* background-color: #fff; */
  border: 2px solid #ffffff;
  animation: circle2 alternate 2s infinite;
}

@keyframes circle2 {
  0% {
    margin-right: 50px;
  }
  50% {
    margin: 0;
  }
  100% {
    margin-left: 50px;
  }
}

#main #home0 .intro-center {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14rem;
}

#main #home0 .intro-center img {
  position: absolute;
  width: 38vw;
  height: 38vw;
  z-index: 2;
}

#main #home0 .intro-center .color-strap {
  width: 200%;
  margin-left: -30vw;
  /* background-color: #ffffff; */
  z-index: 1;
  display: flex;
  gap: 2.5rem;
}

#main #home0 .intro-center .color-strap .color {
  width: 140px;
  height: 140px;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 50%;
}

#main #home0 .intro-center .color-strap .color:first-child {
  background-color: #697a76;
}
#main #home0 .intro-center .color-strap .color:nth-child(1) {
  background-color: #f0dde2;
}
#main #home0 .intro-center .color-strap .color:nth-child(3) {
  background-color: #d3e6e2;
}
#main #home0 .intro-center .color-strap .color:nth-child(4) {
  background-color: #7c766b;
}
#main #home0 .intro-center .color-strap .color:nth-child(5) {
  background-color: #707782;
}
#main #home0 .intro-center .color-strap .color:nth-child(6) {
  background-color: #e8e1d5;
}
#main #home0 .intro-center .color-strap .color:nth-child(7) {
  background-color: #f6f6f6;
}
#main #home0 .intro-center .color-strap .color:nth-child(8) {
  background-color: #f4d6df;
}
#main #home0 .intro-center .color-strap .color:nth-child(9) {
  background-color: #697a76;
}

/* ------------------------------- HOME0 END -------------------------------- */
/* ------------------------------- HOME01 START -------------------------------- */
#main #home01 {
  overflow: hidden;
  width: 100%;
  height: 120vh;
  position: relative;
  background-color: #2b5876;
  border-bottom: 4px solid #fff;
}

#main #home01 h1 {
  color: #fff;
  font-size: 10rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-left: 2rem;
  white-space: nowrap;
  z-index: 5;
}

/* ------------------------------- HOME01 END -------------------------------- */
/* ------------------------------- HOME02 START -------------------------------- */
#main #home02 {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #4e4376;
}

/* ------------------------------- HOME02 END -------------------------------- */
/* ------------------------------- HOME03 START -------------------------------- */
#main #home03 {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #a36452;
}

#main #home03 .overlay .logo {
  color: #fff !important;
}

#main #home03 .left {
  width: 70%;
  height: 30%;
  z-index: 1;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-110%, -50%);
}

#main #home03 .center {
  width: 70%;
  height: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #fff; */
  z-index: 10;
}

#main #home03 .center img:first-child {
  height: 20px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

#main #home03 .center img:last-child {
  height: 15px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

#main #home03 .gradient {
  width: 500%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: linear-gradient(
    90deg,
    #d5a7b4 0%,
    #105099 20%,
    #9e9e4d 40%,
    #f8955b 60%,
    #c54126 80%,
    #f4bf3c 100%
  );

  }

#main #home03 .right {
  width: 90%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  gap: 1rem;
}

#main #home03 .right .color-box {
  width: 600px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff50;
  font-size: 2.5rem;
  color: #fff;
  position: relative;
}

/* ------------------------------- HOME03 END -------------------------------- */

#main #home {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /* background-image: url(./assets/bg-1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  position: relative;
}

#main #home > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* transform: scale(1.5); */
}

#main #home .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 58vw;
  height: 58vw;
  border-radius: 50%;

}

#main #home .center img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main #home .center .c-top img {
  transform: translate(-50%, -50%) rotate(-180deg);
}

#main #home .center .c-top img:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-180deg) scale(1.5);
}

#main #home .center .c-top img:nth-child(1) {
  transform: translate(-50%, -50%) rotate(180deg) scale(2);
}
#main #home .center .c-bottom img:nth-child(2) {
  transform: translate(-50%, -50%) scale(1.5);
}

#main #home .center .c-bottom img:nth-child(1) {
  transform: translate(-50%, -50%) scale(2);
}

#main #home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#main #home .overlay .logo {
  color: #fff;
}

#main #home .overlay .center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background-color: #ffffff;
}

#main #home .overlay .bottom-text {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  color: #313131;
  font-weight: 700;
  z-index: 1;
}

#main #home .overlay .after-bottom-text {
  position: absolute;
  bottom: -300px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  color: #ffffff;
  font-weight: 700;
  z-index: 1;
  white-space: nowrap;
}

#main #home .overlay .mid-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color: #d5a7b4;
  z-index: 5;
}

#main #home .c-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 27vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

#main #home .c-box p {
  font-family: 'scto', sans-serif;
  font-weight: 3 00;
}


#main #home .c-box .c-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main #home .c-box .c-img img {
  width: 100%;
}

#main .overlay .header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

#main .overlay .header .logo h1 {
  font-size: 20px;
  text-transform: uppercase;
}

#main .overlay .header img,
#main .overlay .footer img {
  width: 100px;
}

#main .overlay .footer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

#home .overlay .left-box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 30vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #d5a7b4;
  z-index: 1;
}

#home .overlay .left-box img {
  width: 80%;
  /* width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff; */
}

#home2 {
  width: 100%;
  height: 100vh;
  position: relative;
}

#home2 .top {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#home2 .top .circle1 {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #d5a7b4;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
}

#home2 .top .circle2 {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #b4aad5;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -50%);
  z-index: -1;
}

#home2 .top h1 {
  position: absolute;
  font-size: 25rem;
  letter-spacing: 1rem;
  bottom: -96px;
  left: 100%;
  z-index: 5;
  color: #fff;
}

#home2 .bottom {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: #fff;
  border-top: 1px solid #d5a7b4;
}

#home2 .top .boxes {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 0%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#home2 .top .boxes .box1 {
  width: 20%;
  height: 0%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 1;
  background-color: #dfb1be;
}

#home2 .top .boxes .box2 {
  width: 20%;
  height: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #e9bbc8;
}

#home2 .top .boxes .box3 {
  width: 20%;
  height: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #f3c5d2;
}

#home2 .top .boxes .box4 {
  width: 20%;
  height: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #fdcfdc;
}

#home2 .top .boxes .box5 {
  width: 20%;
  height: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #ffe3f0;
}

#home2 .bottom .center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#home2 .bottom .center-text h1 {
  position: absolute;
  width: 80%;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

#home2 .bottom .center-text h1:last-child {
  opacity: 0;
}

#home2 .bottom .serial {
  position: absolute;
  top: 20%;
  left: 5%;
  font-size: 2.5rem;
  overflow: hidden;
  height: 70px;
}

#home2 .bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3vh;
  border-top: 1px solid #cdcdcd;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home2 .bottom-bar .center-bar {
  width: 90%;
  height: 100%;
  border-left: 2px solid #cdcdcd;
  border-right: 2px solid #cdcdcd;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

#home2 .bottom-bar .center-bar h3 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
}

#home2 .bottom-bar .center-bar .box {
  width: 2%;
}

#home2 .bottom-bar .center-bar .box:nth-child(1) {
  width: 100%;
}

/* --------------------------------HOME3 START -------------------------------- */

#main #home3 {
  overflow: hidden;
  width: 100%;
  height: 480vh;
  position: relative;
  color: #d5a7b4;
  background-color: #fff7ff;
}

/* #main #home3 .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
} */

#main #home3 > h1 {
  margin: 4rem 4rem 4rem 4rem;
  font-size: 10rem;
  color: #d5a7b4;
  border-bottom: 2px solid #d5a7b4;
}

#main #home3 .intro p,
#main #home3 .intro span,
#main #home3 .intro .heading,
#main #home3 .intro .serial {
  color: #d5a7b4;
}

#main #home3 .intro .extra {
  background-color: #d5a7b4 !important;
}
#main #home3 .intro .extra1 {
  border: 2px solid #d5a7b4 !important;
}

#main #home3 .center {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8vh;
  position: relative;
}

#main #home3 .center .center-img {
  width: 35vw;
  /* height: ; */
  object-fit: cover;
}

#main #home3 .center .left img,
#main #home3 .center .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main #home3 .center .left {
  position: absolute;
  top: 70%;
  left: 18%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main #home3 .center .right {
  position: absolute;
  top: 20%;
  right: 18%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main #home3 .center .left p,
#main #home3 .center .right p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main #home3 .animate-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #d5a7b4;
  border-bottom: 2px solid #d5a7b4;
}

#main #home3 .animate-bar p {
  font-size: 2.5rem;
  /* color: #fff; */
  white-space: nowrap;
}

#main #home3 .animation-triangle {
  width: 100%;
  height: 110vh;
  margin-top: 100px;
  position: relative;
}

#main #home3 .animation-triangle .ray {
  width: 100%;
  height: 60%;
  overflow: hidden;
  z-index: -2;
}

#main #home3 .animation-triangle .ray .overlay-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff7ff;
}

#main #home3 .animation-triangle .ray img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main #home3 .animation-triangle .center {
  width: 100%;
  height: 62%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 10%);
}

#main #home3 .animation-triangle .center img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

#main #home3 .animation-triangle .text {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#main #home3 .animation-triangle .text p {
  font-size: 5rem;
  z-index: 5;
  font-weight: 600;
}

#main #home3 .animation-triangle .text p:nth-child(1) {
  margin-left: -12rem;
}
#main #home3 .animation-triangle .text p:nth-child(2) {
  margin-right: -12rem;
}
#main #home3 .animation-triangle .text p:nth-child(3) {
  margin-left: -12rem;
}

#main #home3 .img-gallery {
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

#main #home3 .img-gallery .center-gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  object-fit: cover;
}

#main #home3 .img-gallery .left-gallery {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 10vw;
  /* height: 100%; */
}

#main #home3 .img-gallery > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 13rem;
  margin-left: 40rem;
  /* height: 100%; */
}

#main #home3 .img-gallery .right-gallery {
  position: absolute;
  top: 80%;
  right: 15%;
  width: 10vw;
  /* height: 100%; */
}

#main #home3 .bottom-circle {
  width: 80vh;
  height: 70vh;
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  background-color: #d5a7b4;
  border-radius: 50%;
}
/* --------------------------------HOME3 END -------------------------------- */
/* --------------------------------HOME3-END START -------------------------------- */

/* --------------------------------MARGIN START -------------------------------- */
#main #margin-page {
  /* overflow: hidden; */
  width: 100%;
  height: 50vh;
  position: relative;
  color: #d5a7b4;
  background-color: #d5a7b4;
}

/* --------------------------------MARGIN END -------------------------------- */
/* --------------------------------END END -------------------------------- */
#main #end {
  /* overflow: hidden; */
  width: 100%;
  height: 100vh;
  position: relative;
  color: #313131;
  background-color: #fff;
}

#main #end .center {
  width: 50%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#main #end .center h1 {
  font-size: 7rem;
  text-align: center;
}

#main #end .center h1 span {
  z-index: 5;
}

#main #end .center p {
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#main #end .center p span {
  font-size: 1.5rem;
  text-align: center;
}

#main #end .bottom img {
  width: 30vh;
  height: 30vh;
  object-fit: cover;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translateX(-50%);
}

/* #main #end .bottom img:nth-child(1) {
  top: 10%;
  left: 10%;
} */

#main #end000 {
  /* overflow: hidden; */
  width: 100%;
  height: 100vh;
  position: relative;
  color: #d5a7b4;
  background-color: #151515;
  opacity: 0;
}

#main #end000 .overlay .header .logo h1 {
  color: #c54126;
}

#main #end000 .end-center {
  height: 15vh;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#main #end000 .end-center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: battery alternate 1s infinite;
}

@keyframes battery {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  #main #loader .loader-img {
    width: 100%;
    height: 100vh;
  }

  /* #loader h1 {
    font-size: 6rem;
  } */

  #loader .center {
    height: 100vh;
  }

  #loader img {
    bottom: -20vh;
    width: 90%;
  }

  #loader .loader-full {
    bottom: -10vh;
  }

  #main #home0 .title h1 {
    font-size: 5rem;
    animation: title 5s linear infinite;
    margin-left: 0;
  }

  @keyframes title {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(-150%);
    }
  }

  #main #home0 .intro .serial,
  #main #home02 .intro .serial,
  #main #home3 .intro .serial {
    font-size: 1.5rem;
    margin-left: 0;
    text-align: end;
    /* position:absolute;
  left: 8%;
  top: 17%; */
  }

  #main #home0 .intro .box,
  #main #home02 .intro .box,
  #main #home3 .intro .box {
    display: none;
  }

  #main #home0 .intro .heading,
  #main #home02 .intro .heading,
  #main #home3 .intro .heading {
    font-size: 1.5rem;
    width: 90%;
    padding-right: 1rem;
  }

  #main #home0 .intro .heading span,
  #main #home02 .intro .heading span,
  #main #home3 .intro .heading span {
    font-size: 1.5rem;
  }

  #main #home0 .intro .circle-animation .intro-circle1,
  #main #home02 .intro .circle-animation .intro-circle1,
  #main #home3 .intro .circle-animation .intro-circle1 {
    width: 20px;
    height: 20px;
  }
  @keyframes circle1 {
    0% {
      margin-left: 20px;
    }
    50% {
      margin: 0;
    }
    100% {
      margin-right: 20px;
    }
  }

  #main #home0 .intro .circle-animation .intro-circle2,
  #main #home02 .intro .circle-animation .intro-circle2,
  #main #home3 .intro .circle-animation .intro-circle2 {
    width: 20px;
    height: 20px;
  }
  @keyframes circle2 {
    0% {
      margin-right: 20px;
    }
    50% {
      margin: 0;
    }
    100% {
      margin-left: 20px;
    }
  }

  #main #home0 {
    height: 140vh;
  }

  #main #home0 .intro-center {
    height: 20vh;
    margin-top: 6rem;
  }

  #main #home0 .intro-center img {
    width: 50vw;
    height: 50vw;
  }

  #main #home0 .intro-center .color-strap {
    gap: 1.5rem;
    margin-left: -100vw;
  }

  #main #home0 .intro-center .color-strap .color {
    width: 50px;
    height: 50px;
  }

  #main #home01 {
    height: 40vh;
  }

  #main #home01 h1 {
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #main #home03 .center {
    weight: 50%;
  }

  #main #home03 .left {
    left: -65%;
  }

  #main #home03 .gradient {
    width: 2000%;
  }

  #main #home03 .right {
    left: 250%;
  }

  #main #home03 .right .color-box {
    min-width: 200px;
    max-height: 120px;
  }

  #main #home .center {
    /* height: 150vh; */
    width: 130vw;
  }

  #main #home .overlay .mid-circle {
    width: 15vw;
    height: 15vw;
  }

  #main #home .overlay .center-circle {
    width: 90vw;
    height: 90vw;
  }

  #main #home .c-box {
    width: 50vw;
    height: 65vw;
  }

  #main #home .overlay .bottom-text {
    font-size: 2rem;
    bottom: 3.5rem;
  }

  #main #home .overlay .after-bottom-text {
    font-size: 1.5rem;
    bottom: -200px;
  }

  #home .overlay .left-box {
    width: 80vw;
    height: 80vw;
  }

  #home .overlay .left-box img {
    width: 100%;
  }

  #home2 .bottom .center-text h1 {
    font-size: 1.2rem;
  }

  #home2 .bottom .serial {
    top: 10%;
    left: 5%;
    transform: scale(0.6);
  }

  #main #home3 > h1 {
    font-size: 2rem;
    margin: 4rem 2rem;
  }

  #main #home3 .center .center-img {
    width: 80vw;
  }

  #main #home3 .center .left {
    width: 90px;
    top: 75%;
    left: 10%;
  }

  #main #home3 .center .right {
    width: 90px;
    top: 13%;
    right: 10%;
  }

  #main #home3 .animation-triangle .center img {
  width: 100%;
  height: 100%;
  }

  #main #home3 .animation-triangle .text {
    height: 10vh;
  }

  #main #home3 .animation-triangle .text p {
    font-size: 1.5rem;
  }

  #main #home3 .img-gallery {
    height: 50vh;
  }

  #main #home3 .img-gallery .center-gallery {
    width: 80vw;
    border: 10px solid #fff7ff;
  }

  #main #home3 .img-gallery .left-gallery {
    top: -10%;
    left: 0%;
    width: 50vw;
  }

  #main #home3 .img-gallery .right-gallery {
    top: 140%;
    right: 0%;
    width: 50vw;
    border-top: 10px solid #fff7ff;
    border-left: 10px solid #fff7ff;
  }

  #main #home3 .img-gallery > p {
    margin-top: -10vh;
    font-size: 10rem;
  }

  #main #end .center h1 {
    font-size: 2rem;
  }

  #main #end .center p {
    white-space: nowrap;
    margin-top: 1rem;
    font-size: 0.6rem;
  }

  #main #end .center p span {
    font-size: 1.2rem;
  }

  #main #end .bottom img {
    width: 20vh;
    height: 20vh;
    margin-top: 15vh;
  }
}
